.button {
  border-radius: 0;
  background: transparent;
  color: var(--color-brand-ceramic);
}

.button:active {
  background: transparent;
  color: var(--color-brand-ceramic);
}

.button:focus-visible {
  outline: 0;
  box-shadow: inset 0 0 0 var(--spacing-1) var(--color-brand-cyan);
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: var(--color-brand-metal);
    color: var(--color-brand-cyan);
  }
}
